* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  color: white;
}

a {
  text-decoration: none;
  color: #00BBF9;
  transition: .5s;
}

a:hover {
  color: #4cc9f0;
}